/* ========== LAYOUT ============ */

/* ===== GENERAL ==== */
.wrapper {
    position: relative;
    padding: 0px 16px;
}

.container {
    padding: 6rem 0rem;
    margin: 2rem 0rem;
}

.container--fill {
    width: 100%;
    height: 100vh;
}

.container--fill-x {
    width: 100%;
}

/* ===== FLEX LAYOUT ====== */
.container--flex {
    display: flex;
}

.container--column {
    flex-direction: column;
}

.container--center {
    justify-content: center;
    align-items: center;
}

.container--between {
    justify-content: space-between;
}

.container--wrapp {
    flex-wrap: wrap;
}

/* ======= POSITION ====== */
.container--absolute {
    position: absolute;
}

/* ======= SECTIONS ======= */

.hero {
    margin: 72px 0px;
}

.hero__container {
    gap: 8px
}


.contact {
    padding: 0% 20%;
}

.call-to-action {
    margin-top: 12px;
}

.footer {
    padding: 32px 0;
}


@media screen and (min-width: 600px) {
    .container--small {
        max-width: 80%;
        align-self: center;
    }
}

@media screen and (min-width: 768px) {
    .faq {
        padding-left: 40%;
    }

    .container--small {
        max-width: 65%;
    }
}