
/* ========= TYPOGRAPHY ========== */

.wrapper {
    font-family: 'Outfit', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 24px;
    color: #2F2F2F;
  }

.hero__subheading {
    display: none;
}

/* ===== SPACING ====== */

.heading {
    margin-bottom: 24px;
    line-height: 44px;
    font-size: 2.6rem;
}

.subheading {
    line-height: 32px;
    font-size: 1.75rem;
}

.subheading--spaced-bottom {
    margin-bottom: 24px;
}

.title {
    font-size: 1.5rem;
}

.letter-spacing {
    letter-spacing: 6px;
}


/* ===== WEIGHT ===== */

.thin {
    font-weight: 100;
}

.extra-light {
    font-weight: 200;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}


/* ===== ALIGN ===== */

.text--align-center {
    text-align: center;
}

@media screen and (min-width: 580px) {
    .hero__subheading {
        display: block;
    }

    .heading {
        line-height: 48px;
        font-size: 2.8rem;
    }
}

@media screen and (min-width: 1024px) {
    .heading {
        line-height: 56px;
        font-size: 3rem;
    }
}