/* ============= ANIMATIONS ================= */

.animation--show-from-top {
    animation: show-from-top 800ms ease-in-out forwards;
  }

.animation--fade-fast {
    animation: fade 1200ms 400ms forwards;    
}

.animation--fade-in-slow {
    animation: fade-in 1200ms 800ms forwards;    
}