/* ESTILOS GENERALES */

body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

  font-family: 'Jost', sans-serif;
  color: #2F2F2F;
  background-color: #FFF8F8;
}

.bg-noise::after {
  content: "";
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  z-index: -1;
  width: 200%;
  height: auto;
  background: transparent url("./assets/noise-1.png");
  background-repeat: repeat;
  animation: bg-animation .7s steps(5) infinite;
  opacity: .5;
  visibility: visible;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content;
  align-items: center;
  animation: show-page 1200ms ease-in-out forwards;
}

.w-65 {
  width: 65%;
}

.w-min-content {
  width: min-content;
}

.h-min-content {
  height: min-content;
}

.line {
  border: solid 1px #8b818137;
  width: 100%;
}

/* HEADER */

.header-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

.header-titles_container {
  animation: show-header 800ms ease-in-out forwards;
}

.header-title {
  font-size: 3rem;
  font-weight: 300;
  width: min-content;
}

.header-subtitle {
  font-size: 1rem;
  font-weight: 300;
  margin-left: 2px;
}

.header-button {
  display: grid;
  grid-auto-flow: row;
  gap: 8px;
  margin-top: 8px;
}

.header-button__dot {
  border: solid 3.5px black;
  border-radius: 200px;
}

/* NAVEGADOR */

.nav-wrapper {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  row-gap: 25px;
  justify-items: end;
  animation: show-header 800ms ease-in-out 120ms forwards;
}

.nav-links {
  list-style-type: none;
}

.nav-desktop {
  display: none;
}

/* ANIMACION DE LINKS DEL NAVEGADOR */

.nav-link span {
  transition: all .2s ease-in-out;
}

.nav-link:hover span:nth-child(1) {
  animation: wave .2s ease-in-out alternate; 
}

.nav-link:hover span:nth-child(2) {
  animation: wave .2s ease-in-out alternate 100ms ;
}

.nav-link:hover span:nth-child(3) {
  animation: wave .2s ease-in-out alternate 150ms ;
}

.nav-link:hover span:nth-child(4) {
  animation: wave .2s ease-in-out alternate 200ms ;
}

.nav-link:hover span:nth-child(5) {
  animation: wave .2s ease-in-out alternate 250ms ;
}

.nav-link:hover span:nth-child(6) {
  animation: wave .2s ease-in-out alternate 300ms ;
}

.nav-link:hover span:nth-child(7) {
  animation: wave .2s ease-in-out alternate 350ms ;
}

.nav-link:hover span:nth-child(8) {
  animation: wave .2s ease-in-out alternate 400ms ;
}


/* HOME */

.cover {
  width: 80%;
  height: 65vh;
  background-image: url('./assets/cover.jpg');
  background-size: cover;
  background-position: center left;
  justify-self: center;
}

.home-titles_container {
  width: min-content;
  display: grid;
  justify-self: end;
  row-gap: 8px;
  overflow: hidden;
}

.home-titles {
  font-size: 2rem;
  font-weight: 300;
  text-align: end;
  animation: show-home-titles 800ms ease-out 200ms forwards;
}


/* ABOUT */

.about-paragraph {
  font-size: 138%;
  font-weight: 300;
}


/* CSS TRANSITIONS */

.fade-enter,
.fade-exit {
  opacity: 0;
}

.fade-enter-active {
 opacity: 1;
 transition: opacity 2000ms;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 2000ms;
  display: none;
}


/* MEDIA QUERIES */

@media screen and (min-width: 425px) {
  .bg-noise::after {
    background: transparent url("./assets/noise-2.png");
  }

  .header-title {
    width: auto;
  }
  
  .header-subtitle {
    font-size: 1.25rem;
  }

  .home-titles_container {
    width: auto;
  }
}

@media screen and (min-width: 713px) {
  .cover {
    width: 540px;
  }

  .home-titles_container {
    grid-auto-flow: column;
    justify-self: center;
    column-gap: 20px;
  }
  
  .home-titles {
    text-align: center;
  }
}


@media screen and (min-width: 920px) {
  .header-container {
    align-items: center;
  }
  
  .header-button,
  .nav-mobile {
    display: none;
  }
  
  .nav-wrapper {
    row-gap: 0px;
  }
  
  .nav-desktop {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
  }
  
  .home-titles_container {
    column-gap: 0px;
    width: 743px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-paragraph {
    width: 730px;
  }
}



@media screen and (min-height: 630px) {
  .center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


/* KEYFRAMES */

@keyframes bg-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}

@keyframes show-page {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes show-header {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes sweep-cover {
  0% {width: 0%;}
  100% {width: auto;}
}

@keyframes show-home-titles {
  0% {
    opacity: 0;
    transform: translateY(300%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes wave {
  50% { transform: translateY(-6px); }
}